@page
@model WebApplication3.Pages.IntroModel
@{
    ViewData["Title"] = "Intro Page";
}
<body>
    <h3>Rohit Godavarthi</h3>
    <form method="post">
        <p>Provide the input numbers</p>
        
            <table>
                <tr>
                    <td><label for="NumberInput1">NumberInput1:</label></td>
                    <td><input type="number" name="NumberInput1" value="" /></td>
                </tr>
                <tr>
                    <td><label for="NumberInput2">NumberInput2:</label></td>
                    <td><input type="number" name="NumberInput2" value="" /></td>
                </tr>
                <tr>
                    <td><label for="Output">Output:</label></td>
                    <td><label for="Output">@Model.Output</label></td>
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" asp-page-handler="Submit" /></td>
                </tr>
            </table>
        
    </form>
</body>